@import "../styles/media-queries.module.scss";
.toaster_wrap {
  color: #e73c3c;
  background: #fff2f0;
  min-width: 40rem;
  min-height: 4.625rem;
  padding: 6px 16px;
  border-radius: 4px;
  border-top: 0.5rem solid #ee4843;
  @include respond(sm) {
    min-width: 18rem;
  }
}

.snackBar_wrap {
  width: 100%;
  top: 0.75rem;
  @include respond(sm) {
    width: 15%;
    left: 10rem;
  }
}
