@import "../../styles/media-queries.module.scss";
.pg_container {
  // border: 0.5px solid #eee;
  background: #fff;
  border-radius: 0 0 5px 5px;
  .pg_container_heading {
    padding: 0;
    color: #2d2a30;
    font-size: 1.25rem;
    font-style: normal;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 2.875rem;
    text-transform: capitalize;
  }
  .pg_container_body {
    height: calc(100vh - 170px);
    padding: 3.31rem 4.56rem;
    // border: 0.5px solid #e6e6e6;
    background: #f6f7fb;

    @include respond(sm) {
      padding: 2em;
    }

    .pg_inner_heading {
      color: #2d2a30;
      font-size: 1rem;
      font-family: var(--poppins);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.01rem;
    }
    .pg_btn_submit {
      width: 8.875rem;
      font-weight: 600;
      line-height: 1.625rem;
      text-transform: capitalize;
      font-family: var(--poppins);
      font-size: 0.875rem;
      background: #3633b7;
      color: #fff;
      // margin: 4.69em 0 0 41em;
      padding: 0.5rem 4.81rem;
      // margin-top: 10px;
    }
  }
}

.report_select {
  width: 100%;
}
.input_full_width {
  width: 100%;
  margin-bottom: 1.32em;
  label {
    color: #2d2a30;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.image_align {
  margin: 10px;
}
.image_align {
  margin: 10px;
  cursor: pointer;
}

.successText {
  font-family: var(--poppins);
  font-size: 1.375rem;
  width: 98%;
}

.snackBar {
  background: #ecfbef;
  box-shadow: 0px 4px 9px rgba(4, 17, 0, 0.12);
  border-radius: 10px;
  padding: 10px 20px;
  border-top: 0.5rem solid #219539;
}

.snackBar_header {
  color: #0e8d28;
  font-family: var(--poppins);
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.5625rem;
}

.snackBar_title {
  color: #0e8d28;
  font-family: var(--poppins);
  font-size: 0.875rem;
  line-height: 1.5625rem;
}

.snackBar_wrap {
  width: 100%;
  top: 0.75rem;
}

.errorSetting {
  color: #d32f2f;
  font-size: 0.8rem;
  font-family: var(--poppins);
}
.pg_container_body_url {
  padding: 4.38em 4.56em;
  border: 0.5px solid #e6e6e6;
  background: #f6f7fb;
  .pg_inner_heading {
    color: #2d2a30;
    font-size: 1rem;
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.01rem;
  }
  .pg_btn_submit {
    width: 8.875rem;
    font-weight: 600;
    line-height: 1.625rem;
    text-transform: capitalize;
    font-family: var(--poppins);
    font-size: 0.875rem;
    background: #3633b7;
    color: #fff;
    // margin: 4.69em 0 0 41em;
    padding: 0.5rem 4.81rem;
    // margin-top: 10px;
  }
}
.product_wrapper {
  background-color: #fbfbfb;
  padding-top: 1.12em;
}

.pg_container_wrapper {
  // border: 0.5px solid #eee;
  // background: #fff;
  // padding-top: 4rem;
}
.pg_container_wrapper_heading {
  border: 0.5px solid #eee;
  background-color: #fff;
  padding-top: 1.12em;
  height: calc(100vh - 260px);
  border-radius: 0 0 5px 5px;
}
